services:
  http:
    build: .
    command: [
      "-config", "/etc/app/prod.yaml"
    ]
    environment:
      SC_POSTGRES_URI: $SC_POSTGRES_URI
      SC_HTTP_PORT: 8000
      SC_JWT_SECRET: $SC_JWT_SECRET
      SC_HTTP_CORS_ALLOW_ORIGINS: $SC_HTTP_CORS_ALLOW_ORIGINS
      PGSSLROOTCERT: /certs/root.crt
    ports:
      - ${EXTERNAL_HTTP_PORT:-8000}:8000
    volumes:
      - ./config:/etc/app:ro
      - ${EXTERNAL_UPLOADS_DIR:-./uploads}:/var/app/uploads
      - $PGSSLROOTCERT:/certs:ro
      - /var/run/docker.sock:/var/run/docker.sock

  migrate:
    image: migrate/migrate
    command: [
      "-path", "/migrations",
      "-database", "$SC_POSTGRES_URI",
      "up"
    ]
    environment:
      PGSSLROOTCERT: /certs/root.crt
    volumes:
      - ./migrations:/migrations
      - $PGSSLROOTCERT:/certs:ro
