name: Scriptum

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Deploy
        uses: appleboy/ssh-action@v1.0.3
        env:
          EXTERNAL_GRPC_PORT: ${{ vars.EXTERNAL_GRPC_PORT }}
          PGSSLROOTCERT: ${{ vars.PGSSLROOTCERT }}
          SC_POSTGRES_URI: ${{ secrets.SC_POSTGRES_URI }}
          SC_HTTP_JWT_SECRET: ${{ secrets.SC_HTTP_JWT_SECRET }}
          SC_HTTP_CORS_ALLOW_ORIGINS: ${{ vars.SC_HTTP_CORS_ALLOW_ORIGINS }}
        with:
          host: ${{ vars.SSH_HOST }}
          port: ${{ vars.SSH_PORT }}
          username: ${{ vars.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script_stop: true
          envs: EXTERNAL_GRPC_PORT, PGSSLROOTCERT, SC_POSTGRES_URI, SC_HTTP_JWT_SECRET, SC_HTTP_CORS_ALLOW_ORIGINS
          script: |
            cd ${{ vars.PROJECT_DIR }}
            git stash
            git checkout main
            git pull origin main
            docker compose -f docker-compose.ci.yaml run --rm migrate
            docker compose -f docker-compose.ci.yaml up --build -d http
